* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: lightgray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 70px;
  text-align: center;
}

h1,
h3 {
  font-weight: 200;
}

h3 {
  color: rgb(75, 75, 75);
}

.inputBox {
  width: 800px;
  border-radius: 2px;
  border: 1px solid grey;
}

textarea {
  resize: none;
}

button {
  background-color: yellowgreen;
  border: none;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 30px;
}
